@tailwind base;
@tailwind components;
@tailwind utilities;
 
 
*{
    box-sizing: border-box;
    margin:0;
}
.covid{
    width:400px;
    height:auto;
}
body{
    min-height: 100vh;
    font-family: 'Poppins'
}
h1, h2, h3, h4, h5, h6{
    padding-bottom:0.5rem;
}
li{
    font-size:14px;
}
 p{
     font-size:14px;
     padding-bottom:0.5rem;
 }
 .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
.background-height{
    height:250px
}
.slide{
    background-position: center;
    background-size:cover;
}
.blog-container{
    width:300px;
    height:300px;
}
.single-post{
    width:200px;
}
.slider{
    height:400px !important;
}
.previousButton svg polygon{
   display: none;
  }
  .nextButton svg polygon{
     display: none;
    }
section{
    padding-top:2rem;
    padding-bottom: 2rem;
}
@screen md{
    .background-height{
        height:500px
    }
    h1, h2, h3, h4, h5, h6{
        padding-bottom:2rem;
    }
    li{
        font-size:16px;
    }
    
    .slider{
        height:500px !important;
    }
    p{
        font-size:16px;
        padding-bottom:2rem;
    }
    section{
        padding-top:4rem;
        padding-bottom: 4rem;
    }
}
@screen lg{
    .previousButton svg polygon{
        fill:#fff !important;
        display:block;
      }
      .nextButton svg polygon{
          fill:#fff !important;
          display:block;
        }
}